<style>
    a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bolder;
        transition: color 400ms, font-weight 400ms;
    }

    a:active {
        color: black;
    }

    a:hover {
        color: #0000c9;
        font-weight: 600;
    }

    a:current {
        text-decoration: underline;
    }

</style>

<div class="nav-links">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
</div>
